<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>smseourl</name>
	<displayName><![CDATA[SEO URL Module]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[SEO URL Module. If you want to make a Online E-Commerce Store Using Prestashop, WordPress, Opencart, Laravel, Django. Please email Us : kamrulbd36@gmail.com ]]></description>
	<author><![CDATA[Kamruzzaman]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>